



<div class ="col-4" id="sortlist" >
    
      
    <mat-select   id="sort" placeholder="Sort By :" style="color:white ;">
      
      <mat-option   id="lowToHigh" value="Price: Low to High" role="button"  (click)="lowToHighSort()" >
        
        Price: Low to High</mat-option>
  
      <mat-option value="Price: High to Low" role="button" id="highToLow" (click)="highToLowSort()">
        Price: High to Low</mat-option>
  
        <mat-option value="Category : Ascending" role="button" id="a_categ" (click)="categSortAsc()">
          Category : Ascending</mat-option>
  
          <mat-option value="Category : Descending" role="button" id="d_categ" (click)="categSortDesc()">
            Category : Descending</mat-option>
  
    </mat-select>
   </div>



  
   <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top:0.5% ;">
    <div class="col" *ngFor="let menu_items of pizza">
      <div class="card h-200" style="border: solid 1px grey;background: rgb(192, 190, 190);height: 500px;">
        <img src="{{menu_items.item_Img_Src}}" class="card-img-top"
        style="height: 250px;"
        alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h4 class="card-title">{{menu_items.item_Name}}</h4>
          <p class="card-text">
           {{menu_items.item_Desc}}
          </p>
        </div>
        <div class="card-footer "  style="justify-items:center ;justify-content: center; align-items:center ;align-content:center ;" >

            <p class="card-text">Item Price : &#8377;  {{menu_items.item_Price}}</p>


            <div  class="cartBtns" style="justify-content: center;width: 100%;align-content: center;">
                <a  class="btn btn-success btn-rounded usable" id="addCart"
                 
                
               (click)="hideNext($event)"
                
                (click)="addToCart(menu_items)" >Add to Cart</a>
      
             
                <a  class="btn btn-danger btn-rounded" id="removeCart" 
                 
                (click)="removeFromCart(menu_items)" id="removeCart" (click)="hidePrev($event)" >Remove from Cart</a>
                
              </div>


            
        </div>
      </div>
    </div>
    
   
  </div>


