<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-white" id="navigationbar">
  <div class="container-fluid" style="width:60% ; float: inline-start; margin-left: 10px;">
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <a class="navbar-brand mt-2 mt-lg-0" href="index.html">
        <img src="/assets/images/inkpx-word-art.jpg" height="15" alt="kStoryLogo" loading="lazy" />
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" (click)=" navhidefunc()">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " aria-current="page" routerLink="fruits_veg_sec" (click)=" navhidefunc()">Fruits and
            Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tea" (click)=" navhidefunc()">Tea,Coffee & Beverages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bakery" (click)=" navhidefunc()">Cakes & Bakery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="snacks" (click)=" navhidefunc()">Snacks</a>
        </li>







      </ul>
    </div>
  </div>










  <div class="container-fluid" style="width:40% ;margin-right: 25px;">

    <div class="collapse navbar-collapse" id="navbarExample01">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" style="padding-right: 2px ;"  > 
          <a href="tel:0000000000"  class="nav-link" >
            
            <i class="fa fa-phone" ></i>
            +91-0000000000
          </a>
        </li>
        <li class="nav-item" style="padding-right: 8px ;">
          <a href="mailto:arsh@kstory.com" class="nav-link" >
           
            <i class="fa fa-envelope" ></i>
            arsh@kstory.com</a>
        </li>

        

        <li class="nav-item" style="margin-right: 30px;">
          <a class="nav-link" routerLink="shop_cart" (click)=" navhidefunc()" role="button">
            <span class="badge badge-pill bg-danger" style="pointer-events: none;cursor: none;">3</span>
            <span><i class="fas fa-shopping-cart"></i></span>
          </a>
        </li>

        <li class="nav-item">
          <a class="btn text-white" style="background-color: #55acee;" routerLink="login_signup"
            (click)=" navhidefunc()" role="button">
            <i class="fas fa-user" style="padding-right:5px ;"></i>
            Login / SignUp
          </a>
        </li>




      </ul>
    </div>
  </div>



</nav>
<!-- Navbar -->



<!--Navbar 2-->